body {
    font-family: "Monaco", "System", sans-serif;
    background-color: #08549b;
    image-rendering: pixelated;
}

input {
    border: 2px solid gray;
    padding: 4px 8px;

    &:active, &:focus {
        outline: 2px solid #08549b;
    }
}

label {
    line-height: 32px;
}

button {
    border: 2px solid gray;
    padding: 4px 8px;

    &:active, &:focus {
        outline: 2px solid #08549b;
    }
}

@font-face {
    font-family: "Pixellari";
    src: url("./assets/fonts/Pixellari.ttf");
}

@font-face {
    font-family: "Superstar";
    src: url("./assets/fonts/Superstar.ttf");
}

@font-face {
    font-family: "Monaco";
    src: url("./assets/fonts/Monaco.ttf");
}
